body {
    background-color: white;
}

.container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.main {
    display: flex;
}

.main div {
    flex:1;
}

.main div button {
    background-color: rgb(251, 204, 205);
    width:150px;
    height:80px;
    border-radius: 10px;
}